body {
    overflow-x: hidden;
}

/* -------footer css-------------------------- */
li {
    list-style-type: none;
    padding-right: 4%;

}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: gray;
    text-decoration: none;
}
footer {
    background-color: #242424;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    color: white;
}
#copyright {
    text-align: center;
}
/*.......Aboutpage css....*/
.background {
    background: url("../img/bg2.jpg") no-repeat center center;
    height: 60vh;
    padding: 10%;
    width: 100%;


}
#mission {
    text-align: center;
}
.profiles img {
    border-radius: 50%;
    width: 35%;


}
.profiles li {
    float: left;
}


/* -----------App header css---------- */
.navbar-custom {
    height: 100px;
    background-color: white;
    -webkit-transition: height 0.5s, line-height 0.5s; /* Safari */
    transition: height 0.5s, line-height 0.5s;
}
.scrolled-nav {
    height: 75px;
}
.scrolled-nav-items {
    margin-top: 14px;
}
.font-12 {
    font-size: 12px !important;
}
.font-13 {
    font-size: 13px !important;
}
.font-14 {
    font-size: 14px !important;
}
.custom-color {
    color: #47480b;
}
.p-color {
    color: #8b8b2d;
}
.input-icon-custom,
.search-input {
    background-color: transparent;
    border-color: aliceblue;
}
.input-group-custom {
    width: 7rem;
    border-color: aliceblue;
}
.btn-custom {
    margin: auto;
    height: 30px;
}
.input-group-custom > .form-control {
    width: 7rem;
}
.fa-search {
    cursor: pointer;
}

.custom-purple {
    background-color: #36348A;
    border-color: white;
}
.btn-holder> .btn-custom:nth-child(2):hover {
    color: #fff;
    background-color: #36348A;
    border-color: #fff;
}
.btn-holder> .btn-custom:nth-child(2) {
    color: #36348A;
    background-color: #fff;
    border-color: #36348A;
}
.dropdown-section > .dropdown > .dropdown-toggle::after {
    margin-left: 2em;
}
.navbar-custom > .navbar-brand > img {
    width: auto;
}


/* ------------custom css of black nevigation bar---------- */
.dark-nav-bar {
    margin-top: 100px;
    height: auto;
    background-color: #242424;
}
.dropdown-section > .header {
    color: white;
    font-family: Playfair Display SC;
    margin: auto;
}
.dropdown-section > .dropdown > .dropdown-toggle {
    color: white;
}
.dropdown-section > .dropdown > .dropdown-menu {
    background-color: #666627;
    min-width: 13rem;
}
.dropdown-section > .dropdown > .dropdown-menu > .dropdown-item {
    color: white;
}
.dropdown-section> .dropdown> .dropdown-menu> .dropdown-item:hover {
    background-color: #969649;
}
.dropdown-section {
    border-left: 2px solid white;
}
.initial {
    border-left: none;
}
.dropdown-section > .dropdown > .btn {
    border-color: transparent;
    background-color: transparent;
}
.dropdown-section>.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
    border-color: transparent;
    background-color: transparent;
}
.dropdown-section> .btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus,
.btn-primary.focus,
.btn-primary:focus {

    box-shadow: none;
}
.check-btn {
    font-size: 15px;
    font-weight: 500;
    height: 85px;
    width: 11rem;
    border-radius: 0;
    background-color: #666812;
    border-color: #666812;
    margin-left: 1.5rem;
}
.check-btn:hover {
    background-color: #666812;
    border-color: #666666;
}
.dark-nav-bar > .navbar > .collapse > .nav-item > .btn {
    font-size: 15px;
    font-weight: 500;
    height: 85px;
    width: 11rem;
    border-radius: 0;
    background-color: #666812;
    border-color: #666812;
}

/* @media query css */
@media(max-width: 992px) {
    .navbar-collapse {
        background-color: #f5fbfb;
        box-shadow: 2px 5px 10px #807777;
        display: flex;
        justify-content: center;
    }
    .navbar-collapse > .navbar-nav {
        margin-left: 0 !important;
    }
    .nav-link {
        font-weight: 500;
        margin: 10px;
    }
    .btn-holder {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .nav-bar-custom > .form-inline {
        margin-top: 15px;
        margin-left: 0 !important;
    }
    .other-links {
        margin-left: 10rem !important;
    }
    .search-input {
        border: 1px solid #c5bdbd;
    }
    .input-icon-custom {
        border-color: #c5bdbd;
        background: #c5bdbd;
    }
    .btn-nav {
        font-size: 15px;
        font-weight: 500;
        height: 13vh;
        width: 11rem;
        border-radius: 0;
        background-color: #666812;
        border-color: #666812;
        margin-left: 0 !important;
    }
    .btn-nav:hover {
        background-color: #666812;
        border-color: black;
    }
    .check-btn {
        width: 8rem;
        margin-left: 5px;
    }
    .dropdown-section > .dropdown > .dropdown-toggle::after {
        margin-left: 0.2em;
    }
    .initial {
        margin-left: 2rem;
    }
}
@media(max-width: 575px) {
    .dropdown-section > .dropdown > .dropdown-toggle::after {
        margin-left: 1em;
    }
    .check-btn {
        height: 65px;
        width: 10rem;
    }
    .dropdown-section {
        border-left: none;
    }
}


/* -----------home page css---------- */
.landing-section {
    background-image: url('../img/bg2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #464646;
    height: 100vh;
}
.landing-header {
    background-color: hsl(0deg 0% 54% / 30%);
    color: white;
    text-align: center;
}
.landing-header > div {
    margin: 15%;
    text-align: initial;
}
.landing-header > div > .btn {
    background-color: transparent;
    border-color: white;
    border-radius: 0;
    font-weight: bold;
}
.landing-header > div > h1 {
    font-size: 48px;
}
.section-header {
    border-bottom: 3px solid #666812;
    margin: 50px auto;
    font-size: 24px;
    text-transform: uppercase;
}
.section {
    margin-top: -2rem;
    background: #f7f7f7;
    padding-top: 30px;
}
h1 {
    font-family: Playfair Display SC;
}
.desc > p {
    font-family: Roboto;
    line-height: 24px;
    text-transform: capitalize;
}
.custom-btn {
    background-color: transparent;
    border-color: #666812;
    border-radius: 0;
    font-weight: bold;
    color: #666812;
}
.custom-btn:hover {
    color: #fff;
    background-color: #666812 !important;
    border-color: #666812;
}
.rooms-color {
    background-color: #EFEEEE;
    margin-top: 0;
}
.rooms-card > .card-img-top {
    height: 15rem;
}
.rooms-card > .card-body {
    font-family: Roboto;
    line-height: 24px;
    text-transform: capitalize;
    background: #36348A;
    color: white;
    text-align: left;
}

/* registration input css */
.custom-input:-ms-input-placeholder {
    color: #8b8b2d;
}
.custom-input::placeholder {
    color: #8b8b2d;
    opacity: 1; /* Firefox */
}
.custom-input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #8b8b2d;
}
.register > .form-group > .custom-input {
    border: 1px solid #8b8b2d;
    color: #8b8b2d;
    border-radius: 1rem;
}
.outline-custom-purple:hover {
    color: #fff;
    background-color: #36348A;
    border-color: #fff;
}
.outline-custom-purple {
    color: #36348A;
    background-color: #fff;
    border-color: #36348A;
}
.errorInput {
    border-bottom: 1px solid red !important;
}
