body {
    overflow-x: hidden;
}

/* -------footer css-------------------------- */
li {
    list-style-type: none;
    padding-right: 4%;

}
a{
    color:white;
    text-decoration: none;
}
a:hover{
    color: gray;
    text-decoration: none;
}
footer {
    background-color: #242424;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    color: white;
}
#copyright{
    text-align: center;
}



/* -----------App header css---------- */
.navbar-custom {
    height: 100px;
    background-color: white;
    -webkit-transition: height .5s, line-height .5s; /* Safari */
    transition: height .5s, line-height .5s;
}
.scrolled-nav {
    height: 60px;
}
.font-12 {
    font-size: 12px !important;
}
.font-13 {
    font-size: 13px !important;
}
.font-14 {
    font-size: 14px !important;
}
.custom-color {
    color: #47480b;
}
.p-color {
    color: #8b8b2d;
}
.input-icon-custom, .search-input {
    background-color: transparent;
    border-color: aliceblue;
}
.input-group-custom {
    width: 7rem;
    border-color: aliceblue;
}
.btn-custom {
    margin: auto;
    height: 30px;
}
.input-group-custom>.form-control {
    width: 7rem;
}
.fa-search{
    cursor: pointer;
}

.custom-purple {
    background-color: #36348A;
    border-color: white;
}
.btn-holder> .btn-custom:nth-child(2):hover {
    color: #fff;
    background-color: #36348A;
    border-color: #fff;
}
.btn-holder> .btn-custom:nth-child(2) {
    color: #36348A;
    background-color: #fff;
    border-color: #36348A;
}
.dropdown-section> .dropdown> .dropdown-toggle::after{
    margin-left: 4em;
}
.navbar-custom> .navbar-brand> img{
    width: auto;
}


/* ------------custom css of black nevigation bar---------- */
.dark-nav-bar {
    margin-top: 100px;
}
.dark-nav-bar> .navbar {
    height: 85px;
    background-color: #242424;
}
.dropdown-section> .header{
    color: white;
    font-family: Playfair Display SC;
    margin: auto;
}
.dropdown-section> .dropdown>.dropdown-toggle {
    color: white;
}
.navbar-nav> .dropdown-section:nth-child(2) {
    border-right: 2px solid white;
    border-left: 2px solid white;
    padding-right: 40px;
}
.dark-nav-bar> .navbar> .collapse> .nav-item> .btn {
    font-size: 15px;
    font-weight: 500;
    height: 85px;
    width: 11rem;
    border-radius: 0px;
    background-color: #666812;
    border-color: #666812;
}

/* @media query css */
@media (max-width: 992px) {
    .navbar-collapse {
        background-color: #f5fbfb;
        box-shadow: 2px 5px 10px #807777;
        display: flex;
        justify-content: center;
    }
    .navbar-collapse> .navbar-nav {
        margin-left: 0px !important;
    }
    .nav-link {
        font-weight: 500;
        margin: 10px;
    }
    .btn-holder {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .nav-bar-custom> .form-inline {
        margin-top: 15px;
        margin-left: 0px !important;
    }
    .other-links {
        margin-left: 10rem !important;
    }
    .search-input {
        border: 1px solid #c5bdbd;
    }
    .input-icon-custom {
        border-color: #c5bdbd;
        background: #c5bdbd;
    }
    .btn-nav {
        font-size: 15px;
        font-weight: 500;
        height: 13vh;
        width: 11rem;
        border-radius: 0px;
        background-color: #666812;
        border-color: #666812;
        margin-left: 0px !important;
    }
    .btn-nav:hover {
        background-color: #666812;
        border-color: black;
    }
    .landing-section {
        margin-top: 6rem;
    }
}

/* -----------home page css---------- */
.landing-section {
    background-image: url('../img/bg2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #464646;
    height: 100vh;
}
.landing-header {
    background-color: hsl(0deg 0% 54% / 30%);
    color: white;
    text-align: center;
}
.landing-header> div {
    margin: 15%;
    text-align: initial;
}
.landing-header> div> .btn {
    background-color: transparent;
    border-color: white;
    border-radius: 0px;
    font-weight: bold;
}
.landing-header> div> h1 {
    font-size: 48px;
}
.section-header {
    border-bottom: 3px solid #666812;
    margin: 50px auto;
    font-size: 24px;
    text-transform: uppercase;
}
.section {
    margin-top: -2rem;
    background: #f7f7f7;
    padding-top: 30px;
}
h1 {
    font-family: Playfair Display SC;
}
.desc> p {
    font-family: Roboto;
    line-height: 24px;
    text-transform: capitalize;
}
.custom-btn {
    background-color: transparent;
    border-color: #666812;
    border-radius: 0px;
    font-weight: bold;
    color: #666812;
}
.custom-btn:hover {
    color: #fff;
    background-color: #666812 !important;
    border-color:  #666812;
}
.rooms-color {
    background-color: #EFEEEE;
    margin-top: 0px;
}
.rooms-card> .card-img-top {
    height: 15rem;
}
.rooms-card> .card-body {
    font-family: Roboto;
    line-height: 24px;
    text-transform: capitalize;
    background: #36348A;
    color: white;
    text-align: left;
}
